.news{
padding: 10px;
margin: 30px;

}

.title{
	font-size: 18px;
	font-weight: bold;
	color:#004;
	text-align: center;
	text-decoration: underline;
	padding: 10px;
}
.desc{
	padding: 10px;
	border-radius: 5px;
border: 2px solid #ccc;
}
.photo_pub{
	float: left;
	padding: 10px;
}
.photo_pub img{
border-radius: 10px;
}
.news a{
	text-decoration: none;
	color:#007;
}
.news a:hover{
	text-decoration: none;
	color:#00f;
}