body{
	background:#eeeeee;
	margin:auto;
	font-family: Georgia, Verdana, Arial,sans-serif;
	font-size:16px;
	font-style:normal;
}

#header{
	background:#ffffff;
	width:100%;
	height:80px;
	margin:0;
}

#logo{
	margin-left:5%;
	float:left;
	
}

/*выпадающее меню*/
#main_menu{
	margin-right:5%;
	padding:10px;
	float:right;
	font-size:18px;
	font-weight:bold;
	font-family:Calibri, sans-serif;
	color:#000082;
}

#main_menu li.dropdown-top{
	position:relative;
	display:inline;
	text-decoration:none;
	height:30px;
	text-align:center;
	margin:0;
	padding:10px 30px 0 10px;
}

ul.dropdown-inside{
	background:#ffffff;
	font-size:16px;
	position:absolute;
	left:-9999px;
	width:200px;
	list-style-position:inside;
	list-style-type: none;
	margin:0;
	padding:0;
	padding-top:30px;
	z-index:1;
}

ul.dropdown-inside li{
	text-decoration:none;	
	padding:10px 30px 10px 10px;
	list-style:none;
}
#main_menu li.dropdown-top:hover .dropdown-inside{
	display:block;
	left:-50px;
}


#main_menu a{
	text-decoration:none;
	padding-bottom:20px;
	color:#101468;
}

#main_menu a:hover{
	color:#101468;
}
.dropdown-top a:hover{
	border-bottom:solid;
	border-bottom-color:#050c4d;
}
.dropdown-inside a:hover{

	border-bottom:none;
}
.dropdown-inside li:hover{
	background:#ccc;
}

/* конец описания выпадающего меню*/

#main{
	width:1020px;
	height:1000px;
	margin:0 auto;
	background:#e1e1ee;
}

#main_image {
	display:inline-block;
	position:relative;
	z-index:0;
}

.main_photo{
	width:1020px;
	height:351px;
	border-radius:0 0 10px 10px;
}

#main_image span{
	width:250px;
	height:150px;
	display:inline-block;
	position:absolute;
	bottom:30px;	
	right:20px;
	background-color:rgba(255,255,255,0.5);
	border-radius:10px;
}

#main_image span p{
padding:0 10px 0 15px;
}


#footer{
	background:#ffffff;
	width:100%;
	height:50px;
	margin:0 auto;
	text-align: center;

}

/*класс, очищающий от float */
.clr{
	clear:left;
}
